---
layout: default
title: Home
---

<div class="catalogue">
  {% for post in paginator.posts %}
    <a href="{{ post.url }}" class="catalogue-item">
      <div>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <time datetime="{{ post.date }}" class="catalogue-time">
          {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }}
          {% case m %}
            {% when '1' %}janvier
            {% when '2' %}février
            {% when '3' %}mars
            {% when '4' %}avril
            {% when '5' %}mai
            {% when '6' %}juin
            {% when '7' %}juillet
            {% when '8' %}août
            {% when '9' %}septembre
            {% when '10' %}octobre
            {% when '11' %}novembre
            {% when '12' %}décembre
          {% endcase %}
          {{ post.date | date: "%Y" }}
        </time>
        <div class="catalogue-line"></div>

        <p>
          {% if post.excerpt %}
            {{ post.excerpt | markdownify | strip_html }}
          {% else %}
            {{ post.content | strip_html | truncatewords: 30 }}
          {% endif %}
        </p>

      </div>
    </a>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="left arrow">&#8592;</a>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div>
