---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}

{% include "posts-list.njk" %}
