---
eleventyNavigation:
  key: "Home"
  order: 1

pagination:
  data: collections.posts
  size: 30
  reverse: true
---
{% set postslist = pagination.items.reverse() %}

{% include "posts-list.njk" %}
