---
permalink: /robots.txt
layout: false
eleventyExcludeFromCollections: true
---
Sitemap: https://www.j0k3r.net/sitemap.xml

User-agent: *
Disallow: /forums
Disallow: /user

User-agent: CCBot
Disallow: /

User-agent: ChatGPT-User
Disallow: /

User-agent: cohere-ai
Disallow: /

User-agent: FacebookBot
Disallow: /

User-agent: Google-Extended
Disallow: /

User-agent: GPTBot
Disallow: /

User-agent: Omgili
Disallow: /

User-agent: Omgilibot
Disallow: /

User-agent: *
Allow: /
