<div class="content">
  {% if pagination.href.previous %}
    {% set previous = pagination.href.previous %}
    {% if previous == '/page1/' %}
      {% set previous = '/' %}
    {% endif -%}
  <div class="pagination">
    <a class="pagination-item newer" href="{{ previous }}">Voir la page précédente</a>
  </div>
  {% endif %}

  {%- for post in postslist | reverse %}
  <article class="post-body">
    <h2 class="post-title">
      <a href="{{ post.url  }}">
        {{ post.data.title }}
      </a>
    </h2>

    {% set date = post.data.date %}
    {% include "post-meta.njk" %}

    {% if post.data.excerpt %}
      <p>{{ post.data.excerpt }}</p>
    {% endif %}
  </article>
  {% endfor %}

  {% if numberOfLatestPostsToShow %}
    <div class="pagination">
      <a class="pagination-item older" href="/page2">Voir la page suivante</a>
    </div>
  {% elif pagination.href.next %}
    <div class="pagination">
      <a class="pagination-item older" href="{{ pagination.href.next }}">Voir la page suivante</a>
    </div>
  {% endif %}
</div>
