<!doctype html>
<html lang="{{ metadata.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">

    {#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
    {#- <meta name="generator" content="{{ eleventy.generator }}"> #}

    {#-
    Plain-text bundles are provided via the `eleventy-plugin-bundle` plugin:
    1. CSS:
      * Add to a per-page bundle using `{% css %}{% endcss %}`
      * Retrieve bundle content using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
    2. Or for JavaScript:
      * Add to a per-page bundle using `{% js %}{% endjs %}`
      * Retrieve via `{% getBundle "js" %}` or `{% getBundleFileUrl "js" %}`
    3. Learn more: https://github.com/11ty/eleventy-plugin-bundle
    #}

    {#- Add an arbitrary string to the bundle #}
    {# {%- css %}/* This is an arbitrary CSS string added to the bundle */{% endcss %} #}
    {#- Add the contents of a file to the bundle #}
    {%- css %}{% include "public/css/hydeout.css" %}{% endcss %}
    {#- Or you can add from node_modules #}
    {# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

    {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
    <style>{% getBundle "css" %}</style>
    {#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
    {# <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}

    {#- Add the heading-anchors web component to the JavaScript bundle #}
    {# {%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %} #}
  </head>

  <body class="{% if page.url == '/' %}index home{% endif %}">

    <div id="sidebar">
      <header>
        <{% if page.url == '/' %}h1{% else %}div{% endif %} class="site-title">
          <a href="/">
            {% if page.url != "/" %}
              <span class="back-arrow icon">{% svg "back-arrow" %}</span>
            {% endif %}
            {{ metadata.title }}
          </a>
        </{% if page.url == '/' %}h1{% else %}div{% endif %}>
        <p class="lead">{{ metadata.description }}</p>
      </header>

      <nav id="sidebar-nav-links">
        {%- for entry in collections.all | eleventyNavigation %}
          <a class="page-link {% if entry.url == page.url %} active{% endif %}" href="{{ entry.url }}">{{ entry.title }}</a>
        {%- endfor %}

      </nav>

      <nav id="sidebar-icon-links">
        <a rel="me"
           class="icon" title="Github Profile" aria-label="Github Profile"
           href="https://github.com/j0k3r">
          {% svg "github" %}
        </a>

        <a rel="me"
           class="icon" title="Mastodon Profile" aria-label="Mastodon Profile"
           href="https://mamot.fr/@j0k">
          {% svg "mastodon" %}
        </a>

        <a rel="me"
           class="icon" title="Twitter Profile" aria-label="Twitter Profile"
           href="https://twitter.com/j0k">
          {% svg "twitter" %}
        </a>

        <a class="icon" title="Subscribe" aria-label="Subscribe"
           href="/feed.xml">
          {% svg "feed" %}
        </a>

        <a class="icon" title="Tags" aria-label="Tags"
           href="/tags">
          {% svg "tags" %}
        </a>
      </nav>
    </div>

    <main class="container">
      {{ content | safe }}
    </main>

    <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} by 11ty -->
    <script type="module" src="{% getBundleFileUrl "js" %}"></script>
  </body>
</html>
